body {
  background-color: grey;
  margin: 0 auto;
}
.card {
  text-align: center;
  justify-content: center;
  width: 400px;
  height: 439px;
  /* padding: 4px;  */
  background-color: white;
  margin: 5px;
}
.btn {
  background-color: mediumpurple;
  border: none;
  color: white;
  padding: 12px 19px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 25px;
}

.product-wrapper {
  display: inline-grid;
}

.container{
padding-left: 26px;
}